$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Lato);

$states: (
	(pending,
		(
			color-background: #f7f8fc,
			color-text: #808080,
			color-percentage: #d9d9d9,
		)
	),
	(running,
		(
			color-background: #f2f5fa,
			color-text: #233b66,
			color-percentage: #5e9dd4,
		)
	),
	(rejected,
		(
			color-background: #fdf5f5,
			color-text: #c00410,
			color-percentage: #538136,
		)
	),
	(accepted,
		(
			color-background: #f4f8f3,
			color-text: #4b6639,
			color-percentage: #538136,
		)
	),
	(complete,
		(
			color-background: #f4f8f3,
			color-text: #4b6639,
			color-percentage: #538136,
		)
	)
);

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin linearGradient($top, $bottom) {
	background: $top; /* Old browsers */
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom', GradientType=0); /* IE6-9 */
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	padding: 20px 0 0 0;
}

table {
	tr.state {
		cursor: pointer;

		@include transition(background-color 1s ease, color 1s ease);

		td {
			line-height: 1.7em;
			vertical-align: middle;

			span.header-icon i {
				width: 25px;
				text-align: center;
			}
		}
	}

	@each $name, $state in $states {
		tr.state-#{$name} {
			@extend tr.state;

			background-color: map_get($state, 'color-background');

			color: map_get($state, 'color-text');

			td {
				border-bottom: 0 none !important;
				background-color: transparent;

				div.percentage {
					width: 100%;
					height: 20px;
					border: 1px solid grey;
					display: block;

					span {
						display: block;
						height: 18px;
						background-color: map_get($state, 'color-percentage');
						width: 0;
						transition: background-color 1s ease, width 1s ease;
					}
				}

				div.percentage-metrics {
					@extend div.percentage;
				}

				div.percentage-build {
					@extend div.percentage;
				}

				div.percentage-unit_test {
					@extend div.percentage;
				}

				div.percentage-functional_test {
					@extend div.percentage;
				}
			}
		}

		tr.state-#{$name}-detail {
			@include linearGradient(map_get($state, 'color-background'), #FFFFFF);

			&.ng-hide-add {
				@include transition(height 0s ease, padding 0s ease);
			}

			&.ng-hide-add > td > div.detail {
				@include transition(height 0s ease, padding 0s ease);
			}

			&.ng-hide-remove {
				@include transition(height 0.25s ease, padding 0.25s ease);
			}

			&.ng-hide-remove > td > div.detail {
				@include transition(height 0.25s ease, padding 0.25s ease);

				height: 0 !important;
			}

			&.ng-hide-add-active {
				@include transition(height 0.25s ease, padding 0.25s ease);
			}

			&.ng-hide-add-active > td > div.detail {
				@include transition(height 0.25s ease, padding 0.25s ease);

				height: 0 !important;
			}

			&.ng-hide-remove-active {
				@include transition(height 0.25s ease, padding 0.25s ease);
			}

			&.ng-hide-remove-active > td > div.detail {
				@include transition(height 0.25s ease, padding 0.25s ease);

				height: 230px !important;

				@media (max-width: $screen-md-max) {
					height: 430px !important;
				}

				@media (max-width: $screen-sm-max) {
					height: 630px !important;
				}

				@media (max-width: $screen-xs-min) {
					height: 1030px !important;
				}

			}

			td {
				border-top: 0 none !important;
				padding: 0;

				div.detail {
					height: 230px;

					padding: 0 10px 0 calc(50% - 555px);

					@media (max-width: $screen-md-max) {
						height: 430px;

						padding-left: calc(50% - 330px);
					}

					@media (max-width: $screen-sm-max) {
						height: 630px;

						padding-left: calc(50% - 220px);
					}

					@media (max-width: $screen-xs-min) {
						height: 1030px;

						padding-left: calc(50% - 120px);
					}

					overflow-y: hidden;

					div.detail-container {
						position: absolute;
						overflow-y: hidden;
						padding-bottom: 10px;

						div.box {
							width: 200px;
							height: 180px;
							border: 2px solid transparent;
							background-color: white;
							padding: 5px;
							margin-top: 20px;
							margin-left: 11px;
							margin-right: 11px;
							float: left;

							@include transition(all 0.25s ease);

							box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);

							&:hover {
								box-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
							}

							div.header {
								display: block;
								font-size: 1.2em;
								font-weight: bold;
							}

							div.content {
								display: block;
								padding: 0 15px;
							}
						}

						div.code-green {
							border-color: #538136;

							div.header {
								color: #538136;
							}
						}

						div.code-red {
							border-color: #bf010a;

							div.header {
								color: #bf010a;
							}
						}

						div.code-grey {
							border-color: #dddddd;

							div.header {
								color: #000000;
							}
						}

						div.metrics {
							@extend div.box;

							div.content {
								padding-top: 5px;

								div.value {
									display: block;
									width: 50px;
									height: 50px;
									background-size: contain;
									text-align: center;
									margin: 0 auto;
									font-size: 0.9em;
								}

								div.title {
									text-align: center;
								}

								div.trend-down {
									background-image: url("../images/trend-down.png");
									color: white;
									line-height: 42px;
								}

								div.trend-up {
									background-image: url("../images/trend-up.png");
									color: white;
									line-height: 42px;
									padding-top: 8px;
								}

								div.trend-same {
									background-image: url("../images/trend-same.png");
									color: black;
									line-height: 50px;
									padding-right: 10px;
								}
							}
						}

						div.build {
							@extend div.box;

							div.content {
								padding-top: 28px;

								div.last-build {
									padding-top: 20px;
								}
							}
						}

						div.unit_test, div.functional_test {
							@extend div.box;

							div.content {
								text-align: center;
								padding-top: 8px;

								div.pie-chart-container {
									width: 90px;
									height: 80px;
									float: left;
									display: inline-block;
								}

								div.legend-container {
									padding-top: 25px;
									padding-left: 10px;
									height: 80px;
									float: left;
									display: inline-block;
									line-height: 1.5em;
									font-size: 0.8em;

									div.percentage {
										font-weight: bold;
										font-size: 24px;
									}
								}

								div.percentage-unit_test, div.percentage-functional_test {
									margin-top: 12px;
									width: 100%;
									height: 30px;
									border: 1px solid grey;
									display: block;
									background-color: #f6ccaf;

									span {
										display: block;
										height: 28px;
										background-color: #c7e0b6;
										width: 0;
										transition: background-color 1s ease, width 1s ease;
									}

									div.text {
										font-size: 0.8em;
										line-height: 1em;
										display: block;
										position: relative;
										top: -23px;
										width: 100%;
										height: 28px;
									}
								}
							}
						}

						div.result {
							@extend div.box;

							div.content {
								padding-top: 23px;
								color: map_get($state, 'color-text');

								span.state {
									font-size: 1.4em;
									font-weight: bold;
								}

								div.operations {
									font-size: 2.2em;
									line-height: 1em;

									div.button {
										margin-top: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
