<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Crossover Demo Project</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75">

	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="components/angular-chart.js/dist/angular-chart.css" />
	<!-- endbower -->
	<!-- endbuild -->


	<script src="https://use.fontawesome.com/48285fc9b3.js"></script>

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-app="CrossoverDemoProjectApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container" ng-controller="MainCtrl">
	<table class="table">
		<thead>
			<tr>
				<th>Changelist&nbsp;/&nbsp;Build</th>
				<th>Owner</th>
				<th>Time&nbsp;Started</th>
				<th>State</th>
				<th>
					<span class="hidden-sm hidden-xs">Metrics</span>
					<span class="visible-sm visible-xs"><abbr title="Metrics">M</abbr></span>
				</th>
				<th>
					<span class="hidden-sm hidden-xs">Build</span>
					<span class="visible-sm visible-xs"><abbr title="Build">B</abbr></span>
				</th>
				<th>
					<span class="hidden-sm hidden-xs">Unit&nbsp;Test</span>
					<span class="visible-sm visible-xs"><abbr title="Unit Test">UT</abbr></span>
				</th>
				<th>
					<span class="hidden-sm hidden-xs">Functional&nbsp;Test</span>
					<span class="visible-sm visible-xs"><abbr title="Functional Test">FT</abbr></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="loading" ng-if="!database.nodes">
				<td colspan="8" class="text-center">
					<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp;&nbsp;Please wait while the data is loading...
				</td>
			</tr>
			<tr ng-repeat-start="item in database.nodes track by item.id" ng-class="['state-' + item.state]" ng-click="showDetails(item)">
				<td>
					<span ng-show="item.changelist" class="header-icon"><i class="fa fa-shield" aria-hidden="true"></i> <span ng-bind="item.changelist"></span></span>
					<span ng-show="item.build" class="header-icon"><i class="fa fa-laptop" aria-hidden="true"></i> <span ng-bind="item.build"></span></span>
				</td>
				<td ng-bind="item.owner|capitalize"></td>
				<td ng-bind="item.startedAt|date:'MM/dd/yyyy hh:mm a'"></td>
				<td ng-bind="item.state|capitalize"></td>
				<td class="col-xs-1">
					<div class="percentage-metrics">
						<span ng-style="getStyleForPercentageBox('metrics', item.operations.metrics)"></span>
					</div>
				</td>
				<td class="col-xs-1">
					<div class="percentage-build">
						<span ng-style="getStyleForPercentageBox('build', item.operations.build)"></span>
					</div>
				</td>
				<td class="col-xs-1">
					<div class="percentage-unit_test">
						<span ng-style="getStyleForPercentageBox('unit_test', item.operations.unit_test)"></span>
					</div>
				</td>
				<td class="col-xs-1">
					<div class="percentage-functional_test">
						<span ng-style="getStyleForPercentageBox('functional_test', item.operations.functional_test)"></span>
					</div>
				</td>
			</tr>

			<tr ng-class="['state-' + item.state + '-detail']" ng-repeat-end="" ng-show="isShowing(item)">
				<td colspan="8">
					<div class="detail row">
						<div class="col-xs-12">
							<div class="detail-container">

								<div class="metrics" ng-class="getClassForDetailBox('metrics', item.operations.metrics)">
									<div class="header">Metrics</div>
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="value" ng-class="item.operations.metrics.test|withTrendArrows" ng-bind="item.operations.metrics.test.to"></div>
												<div class="title">Test</div>
											</div>
											<div class="col-xs-7">
												<div class="value" ng-class="item.operations.metrics.maintainability|withTrendArrows" ng-bind="item.operations.metrics.maintainability.to"></div>
												<div class="title">Maintainability</div>
											</div>
											<div class="col-xs-5">
												<div class="value" ng-class="item.operations.metrics.security|withTrendArrows" ng-bind="item.operations.metrics.security.to"></div>
												<div class="title">Security</div>
											</div>
											<div class="col-xs-7">
												<div class="value" ng-class="item.operations.metrics.workmanship|withTrendArrows" ng-bind="item.operations.metrics.workmanship.to"></div>
												<div class="title">Workmanship</div>
											</div>
										</div>
									</div>
								</div>

								<div class="build" ng-class="getClassForDetailBox('build', item.operations.build)">
									<div class="header">Build</div>
									<div class="content">
										<div class="row">
											<div class="col-xs-6 text-center">
												<a class="build" href="javascript:;"><i class="fa fa-desktop fa-3x"></i><br />Debug</a>
											</div>
											<div class="col-xs-6 text-center">
												<a class="build" href="javascript:;"><i class="fa fa-desktop fa-3x"></i><br />Release</a>
											</div>
											<div class="col-xs-12 text-center last-build">
												<span ng-bind="item.operations.build.startedAt|date:'MM/dd/yyyy hh:mm a'"></span>
											</div>
										</div>
									</div>
								</div>

								<div class="unit_test" ng-class="getClassForDetailBox('unit_test', item.operations.unit_test)">
									<div class="header">Unit Test</div>
									<div class="content">
										<div class="row">
											<div class="col-xs-12">
												<div class="pie-chart-container">
													<canvas width="90" height="80" class="chart chart-pie" chart-data="[item.operations.unit_test.failed, item.operations.unit_test.success]" chart-labels="['Failed', 'Success']" chart-colours="['#bf010a', '#538136']"></canvas>
												</div>
												<div class="legend-container">
													<div class="percentage" ng-bind="item.operations.unit_test.success + '%'"></div>
													<div>test passed</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="percentage-unit_test">
													<span ng-style="getStyleForPercentageBox('unit_test', item.operations.unit_test)"></span>
													<div class="text" ng-bind-html="'<strong>' + item.operations.unit_test.coverage + '%</strong><br/> Code Covered'"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="functional_test" ng-class="getClassForDetailBox('functional_test', item.operations.functional_test)">
									<div class="header">Functional Test</div>
									<div class="content">
										<div class="row">
											<div class="col-xs-12">
												<div class="pie-chart-container">
													<canvas width="90" height="80" class="chart chart-pie" chart-data="[item.operations.functional_test.failed, item.operations.functional_test.success]" chart-labels="['Failed', 'Success']" chart-colours="['#bf010a', '#538136']"></canvas>
												</div>
												<div class="legend-container">
													<div class="percentage" ng-bind="item.operations.functional_test.success + '%'"></div>
													<div>test passed</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="percentage-functional_test">
													<span ng-style="getStyleForPercentageBox('functional_test', item.operations.functional_test)"></span>
													<div class="text" ng-bind-html="'<strong>' + item.operations.functional_test.coverage + '%</strong><br/> Code Covered'"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="result code-grey">
									<div class="header text-center">Result</div>
									<div class="content text-center">
										<div class="row" ng-switch="item.state">
											<div class="col-xs-12">
												<span class="state" ng-bind="'Change ' + (item.state|capitalize)"></span>
											</div>
											<div class="col-xs-12 operations" ng-switch-when="pending">
												<span ng-bind="item.cause"></span>
												<div class="button">
													<button type="button" class="btn btn-default">Start Build</button>
												</div>
											</div>
											<div class="col-xs-12 operations" ng-switch-when="running">
												<span ng-bind="item.cause"></span>
												<div class="button">
													<button type="button" class="btn btn-default">Check Metrics</button>
												</div>
											</div>
											<div class="col-xs-12 operations" ng-switch-when="rejected">
												<span ng-bind="item.cause"></span>
												<div class="button">
													<button type="button" class="btn btn-default">Find Issues</button>
												</div>
											</div>
											<div class="col-xs-12 operations" ng-switch-when="accepted">
												<span ng-bind="item.cause"></span>
												<div class="button">
													<button type="button" class="btn btn-default">Merged Build</button>
												</div>
											</div>
											<div class="col-xs-12 operations" ng-switch-when="complete">
												<span ng-bind="item.cause"></span>
												<div class="button">
													<button type="button" class="btn btn-default">Publish</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	!function (A, n, g, u, l, a, r) {
		A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
			(A[l].q = A[l].q || []).push(arguments)
		}, A[l].l = +new Date, a = n.createElement(g),
		r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
	} (window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-XXXXX-X');
	ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="components/angular-animate/angular-animate.js"></script>
<script src="components/Chart.js/Chart.js"></script>
<script src="components/angular-chart.js/dist/angular-chart.js"></script>
<script src="components/firebase/firebase.js"></script>
<script src="components/angularfire/dist/angularfire.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<!-- endbuild -->
</body>
</html>
